In [29]:
import pandas as pd
import numpy as np
import plotly.express as px
import streamlit as st

In [31]:
df = pd.read_csv('vehicles_us.csv')
df = df.drop(df.columns[0], axis=1)
df.head()

,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [43]:

manufacturer_choice = df['model'].unique()
selected_manu = st.selectbox('Select an manufacturer', manufacturer_choice )
min_year, max_year = int(df['model_year'].min()), int(df['model_year'].max())
print(df['model_year'].min())
print(df['model_year'].max())

1908.0
2019.0

In [33]:
year_range = st.slider("Choose years", value=(min_year, max_year), min_value=min_year,max_value= max_year)

actual_range = list(range(year_range[0], year_range[1]+1))

df_filtered = df[ (df.model == selected_manu) & (df.model_year.isin(list(actual_range)) )]

In [51]:
st.header('Price analysis')

list_for_price = ['price','condition','type','state']

selected_type = st.selectbox('Split for price distribution',list_for_price)

fig1 = px.histogram(df, x="price", title= 'Distribution of Prices')
st.plotly_chart(fig1)

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['model_year', 'model', 'condition', 'cylinders', 'fuel', 'odometer', 'transmission', 'type', 'paint_color', 'is_4wd', 'date_posted', 'days_listed', 'age'] but received: price

In [45]:
def age_category(x):
    if x<5: return '<5'
    elif  x>=5 and x<10: return '5-10'
    elif x>=10 and x<20: return '10-20'
    else: return '>20'

In [46]:
df['age'] = 2024 - df['model_year']

In [47]:
df['days_listed'] = df['date_posted'].apply(days_listed)

NameError: name 'days_listed' is not defined

In [21]:
list_for_scatter = ['odometer','cylinder','is_4wd']

In [22]:
choice_for_scatter = st.selectbox('Price dependency on',list_for_scatter)

In [52]:
fig2 = px.scatter(df, x="odometer", y="price", title ='Odometer vs Price')
st.plotly_chart(fig2)

ValueError: Value of 'y' is not the name of a column in 'data_frame'. Expected one of ['model_year', 'model', 'condition', 'cylinders', 'fuel', 'odometer', 'transmission', 'type', 'paint_color', 'is_4wd', 'date_posted', 'days_listed', 'age'] but received: price